In [1]:
import plotly
import json

credentials = json.load(open('/home/cneiderer/.plotly/.credentials'))
plotly.tools.set_credentials_file(username=credentials['username'], api_key=credentials['api_key'])

In [2]:
import plotly.plotly as py
import plotly.graph_objs as go
import colorlover as cl
import pandas as pd
import numpy as np
import pickle

In [4]:
# pickle_file = 'APP_tfidf_nmf_results.pickle'
pickle_file = 'APP_lda_20topic_tsne3_results.pickle'
with open(pickle_file, 'rb') as f:
    data = pickle.load(f)

In [5]:
data.keys()

dict_keys(['tsne3_reduced', 'df_tsne3_reduced'])

In [6]:
tsne3 = data['tsne3_reduced']

In [8]:
df_tsne3 = data['df_tsne3_reduced']

In [14]:
df_tsne3.head()

     tsne_x    tsne_y    tsne_z  Cluster
0  7.237236 -0.856147  7.514600        8
1  5.409875  2.623274  2.818848       12
2  6.360083 -1.108500  7.189068        8
3  5.200565  2.275153  9.142937        6
4  4.755807 -0.901040  1.941861        8

In [9]:
list(set(df_tsne3.Cluster))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [38]:
colors = pd.read_csv('/home/cneiderer/Documents/20distinctcolors.csv', header=None)

In [39]:
colors

           0        1                2                  3
0        Red  #e6194b    (230, 25, 75)    (0, 100, 66, 0)
1      Green  #3cb44b    (60, 180, 75)    (75, 0, 100, 0)
2     Yellow  #ffe119   (255, 225, 25)     (0, 25, 95, 0)
3       Blue  #0082c8    (0, 130, 200)    (100, 35, 0, 0)
4     Orange  #f58231   (245, 130, 48)     (0, 60, 92, 0)
5     Purple  #911eb4   (145, 30, 180)     (35, 70, 0, 0)
6       Cyan  #46f0f0   (70, 240, 240)      (70, 0, 0, 0)
7    Magenta  #f032e6   (240, 50, 230)     (0, 100, 0, 0)
8       Lime  #d2f53c   (210, 245, 60)    (35, 0, 100, 0)
9       Pink  #fabebe  (250, 190, 190)     (0, 30, 15, 0)
10      Teal  #008080    (0, 128, 128)    (100, 0, 0, 50)
11  Lavender  #e6beff  (230, 190, 255)     (10, 25, 0, 0)
12     Brown  #aa6e28   (170, 110, 40)    (0, 35, 75, 33)
13     Beige  #fffac8  (255, 250, 200)     (5, 10, 30, 0)
14    Maroon  #800000      (128, 0, 0)  (0, 100, 100, 50)
15      Mint  #aaffc3  (170, 255, 195)     (33, 0, 23, 0)
16     Olive  #808000    (128, 128, 0)    (0, 0, 100, 50)
17     Coral  #ffd8b1  (255, 215, 180)     (0, 15, 30, 0)
18      Navy  #000080      (0, 0, 128)  (100, 100, 0, 50)
19      Grey  #808080  (128, 128, 128)      (0, 0, 0, 50)
20   Forrest  #336600     (51, 102, 0)      (90, 100, 40)
21     Black  #000000        (0, 0, 0)     (0, 0, 0, 100)

In [64]:
cmap = ['rgb%s' % x for x in colors[2]]
# cmap = cl.scales['11']['qual']['Paired']

In [84]:
fig = {
        'data': [
            {
                'x': df_tsne3[df_tsne3.Cluster==cluster]['tsne_x'],
                'y': df_tsne3[df_tsne3.Cluster==cluster]['tsne_y'],
                'z': df_tsne3[df_tsne3.Cluster==cluster]['tsne_z'],
                'text': ['Topic %d' % x for x in df_tsne3[df_tsne3.Cluster==cluster]['Cluster']],
                'hoverinfo': 'text',
                'name': cluster, 
                'mode': 'markers', 
                'marker': {
                    'size': 5,
                    'symbol': 'circle',
                    'opacity': 0.5,
                    'color': color
                },
                'type': 'scatter3d'
            } for cluster, color in zip(set(df_tsne3.Cluster), cmap)
        ],
        'layout': {
            'showlegend': True,
            'hovermode': 'closest',
            'autosize': False,
            'width': 1000,
            'height': 1000,            
            'title': 'Topic Clusters',
            'titlefont': {'size': 20}, 
            'paper_bgcolor': 'rgb(0,0,0)', 
            'plot_bgcolor': 'rgb(0,0,0)',
        }
}

py.iplot(fig, filename='LSA_15Topic_TSNE_Scatter3', fileopt='overwrite')

The draw time for this plot will be slow for clients without much RAM.

/home/cneiderer/anaconda3/lib/python3.6/site-packages/plotly/api/v1/clientresp.py:40: UserWarning:

Estimated Draw Time Slow

In [37]:
cl.scales['11']['qual']['Paired']+[]

['rgb(166,206,227)',
 'rgb(31,120,180)',
 'rgb(178,223,138)',
 'rgb(51,160,44)',
 'rgb(251,154,153)',
 'rgb(227,26,28)',
 'rgb(253,191,111)',
 'rgb(255,127,0)',
 'rgb(202,178,214)',
 'rgb(106,61,154)',
 'rgb(255,255,153)']

In [40]:
['rgb%s' % x for x in colors[2]]

['rgb(230, 25, 75)',
 'rgb(60, 180, 75)',
 'rgb(255, 225, 25)',
 'rgb(0, 130, 200)',
 'rgb(245, 130, 48)',
 'rgb(145, 30, 180)',
 'rgb(70, 240, 240)',
 'rgb(240, 50, 230)',
 'rgb(210, 245, 60)',
 'rgb(250, 190, 190)',
 'rgb(0, 128, 128)',
 'rgb(230, 190, 255)',
 'rgb(170, 110, 40)',
 'rgb(255, 250, 200)',
 'rgb(128, 0, 0)',
 'rgb(170, 255, 195)',
 'rgb(128, 128, 0)',
 'rgb(255, 215, 180)',
 'rgb(0, 0, 128)',
 'rgb(128, 128, 128)',
 'rgb(51, 102, 0)',
 'rgb(0, 0, 0)']