# Challenge Set 9
## Part III: Soccer Data

*Introductory - Intermediate level SQL*

--

Please complete this exercise using sqlite3 and Jupyter notebook.

Download the [SQLite database](https://www.kaggle.com/hugomathien/soccer/downloads/soccer.zip) and load in your notebook using the sqlite3 library. 

1. Which team scored the most points when playing at home?  

2. Did this team also score the most points when playing away?  

3. How many matches resulted in a tie?  

4. How many players have Smith for their last name? How many have 'smith' anywhere in their name?

5. What was the median tie score? Use the value determined in the previous question for the number of tie games. *Hint:* PostgreSQL does not have a median function. Instead, think about the steps required to calculate a median and use the [`WITH`](https://www.postgresql.org/docs/8.4/static/queries-with.html) command to store stepwise results as a table and then operate on these results. 

6. What percentage of players prefer their left or right foot? *Hint:* Calculate either the right or left foot, whichever is easier based on how you setup the problem.

In [58]:
import sqlite3
import pandas as pd

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 50)

In [21]:
# Open connection
conn = sqlite3.connect('/home/cneiderer/Metis/Neiderer_Metis/Challenges/challenges_data/soccer.sqlite')
cur = conn.cursor()

In [40]:
# Get table names
cur.execute('SELECT * FROM sqlite_master WHERE type="table" ORDER BY Name')

tables = []
for t in cur.fetchall():
    tables.append(t[1])

In [46]:
# Query data from each table into dictionary of DFs
df = {}
for t in tables:
    df[t] = pd.read_sql_query('SELECT * FROM ' + t, conn)

In [47]:
df.keys()

dict_keys(['Country', 'League', 'Match', 'Player', 'Player_Attributes', 'Team', 'Team_Attributes', 'sqlite_sequence'])

In [50]:
# Inspect DF properties
for key in df.keys():
    print(key)
    print(df[key].info())
    print('\n')

Country
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
id      11 non-null int64
name    11 non-null object
dtypes: int64(1), object(1)
memory usage: 256.0+ bytes
None


League
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
id            11 non-null int64
country_id    11 non-null int64
name          11 non-null object
dtypes: int64(2), object(1)
memory usage: 344.0+ bytes
None


Match
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25979 entries, 0 to 25978
Columns: 115 entries, id to BSA
dtypes: float64(96), int64(9), object(10)
memory usage: 22.8+ MB
None


Player
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11060 entries, 0 to 11059
Data columns (total 7 columns):
id                    11060 non-null int64
player_api_id         11060 non-null int64
player_name           11060 non-null object
player_fifa_api_id    11060 non-null int64
birthday              11060 non-null object
height                11060 non-null float64
weight                11060 non-null int64
dtypes: float64(1), int64(4), object(2)
memory usage: 604.9+ KB
None


Player_Attributes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183978 entries, 0 to 183977
Data columns (total 42 columns):
id                     183978 non-null int64
player_fifa_api_id     183978 non-null int64
player_api_id          183978 non-null int64
date                   183978 non-null object
overall_rating         183142 non-null float64
potential              183142 non-null float64
preferred_foot         183142 non-null object
attacking_work_rate    180748 non-null object
defensive_work_rate    183142 non-null object
crossing               183142 non-null float64
finishing              183142 non-null float64
heading_accuracy       183142 non-null float64
short_passing          183142 non-null float64
volleys                181265 non-null float64
dribbling              183142 non-null float64
curve                  181265 non-null float64
free_kick_accuracy     183142 non-null float64
long_passing           183142 non-null float64
ball_control           183142 non-null float64
acceleration           183142 non-null float64
sprint_speed           183142 non-null float64
agility                181265 non-null float64
reactions              183142 non-null float64
balance                181265 non-null float64
shot_power             183142 non-null float64
jumping                181265 non-null float64
stamina                183142 non-null float64
strength               183142 non-null float64
long_shots             183142 non-null float64
aggression             183142 non-null float64
interceptions          183142 non-null float64
positioning            183142 non-null float64
vision                 181265 non-null float64
penalties              183142 non-null float64
marking                183142 non-null float64
standing_tackle        183142 non-null float64
sliding_tackle         181265 non-null float64
gk_diving              183142 non-null float64
gk_handling            183142 non-null float64
gk_kicking             183142 non-null float64
gk_positioning         183142 non-null float64
gk_reflexes            183142 non-null float64
dtypes: float64(35), int64(3), object(4)
memory usage: 59.0+ MB
None


Team
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 5 columns):
id                  299 non-null int64
team_api_id         299 non-null int64
team_fifa_api_id    288 non-null float64
team_long_name      299 non-null object
team_short_name     299 non-null object
dtypes: float64(1), int64(2), object(2)
memory usage: 11.8+ KB
None


Team_Attributes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Data columns (total 25 columns):
id                                1458 non-null int64
team_fifa_api_id                  1458 non-null int64
team_api_id                       1458 non-null int64
date                              1458 non-null object
buildUpPlaySpeed                  1458 non-null int64
buildUpPlaySpeedClass             1458 non-null object
buildUpPlayDribbling              489 non-null float64
buildUpPlayDribblingClass         1458 non-null object
buildUpPlayPassing                1458 non-null int64
buildUpPlayPassingClass           1458 non-null object
buildUpPlayPositioningClass       1458 non-null object
chanceCreationPassing             1458 non-null int64
chanceCreationPassingClass        1458 non-null object
chanceCreationCrossing            1458 non-null int64
chanceCreationCrossingClass       1458 non-null object
chanceCreationShooting            1458 non-null int64
chanceCreationShootingClass       1458 non-null object
chanceCreationPositioningClass    1458 non-null object
defencePressure                   1458 non-null int64
defencePressureClass              1458 non-null object
defenceAggression                 1458 non-null int64
defenceAggressionClass            1458 non-null object
defenceTeamWidth                  1458 non-null int64
defenceTeamWidthClass             1458 non-null object
defenceDefenderLineClass          1458 non-null object
dtypes: float64(1), int64(11), object(13)
memory usage: 284.8+ KB
None


sqlite_sequence
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
name    7 non-null object
seq     7 non-null int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes
None

### Which team scored the most points when playing at home?

In [136]:
# Find max sum of goals 
home_team_id = df['Match'][['home_team_api_id', 'home_team_goal']].groupby(
    'home_team_api_id', sort=False).sum().idxmax(axis=0)
home_team_id[0]

8633

In [138]:
home_team_name = df['Team'][df['Team']['team_api_id'] == home_team_id[0]]['team_long_name'].reset_index(drop=True)
home_team_name[0]

'Real Madrid CF'

### Did this team also score the most points when playing away?

In [135]:
away_team_id = df['Match'][['away_team_api_id', 'away_team_goal']].groupby(
    'away_team_api_id', sort=False).sum().idxmax(axis=0)
away_team_id[0]

8634

In [134]:
away_team_name = df['Team'][df['Team']['team_api_id'] == away_team_id[0]]['team_long_name'].reset_index(drop=True)
away_team_name[0]

'FC Barcelona'

The home team that scored the most goals was not the same as the away team that scored the most goals.

### How many matches resulted in a tie?

In [144]:
tied = sum((df['Match']['home_team_goal'] - df['Match']['away_team_goal']) == 0)
tied

6596

### How many players have Smith for their last name? How many have 'smith' anywhere in their name?

In [160]:
first_last = df['Player']['player_name'].str.split(pat=' ', n=1, expand=True)
first_last.columns = ['First', 'Last']

In [165]:
lastname_smith = sum(first_last['Last'].str.lower() == 'smith')
lastname_smith

15

In [242]:
first_contains_smith = sum(first_last['First'].str.lower().str.contains('smith') == True)
first_contains_smith

0

In [241]:
last_contains_smith = sum(first_last['Last'].str.lower().str.contains('smith') == True)
last_contains_smith

18

### What was the median tie score? Use the value determined in the previous question for the number of tie games. 
*Hint:* PostgreSQL does not have a median function. Instead, think about the steps required to calculate a median and use the [`WITH`](https://www.postgresql.org/docs/8.4/static/queries-with.html) command to store stepwise results as a table and then operate on these results.

In [215]:
med_tie = df['Match'][(df['Match']['home_team_goal'] - df['Match']['away_team_goal']) == 0]['home_team_goal'].median()
med_tie

1.0

### What percentage of players prefer their left or right foot? *Hint:* Calculate either the right or left foot, whichever is easier based on how you setup the problem.

In [220]:
prefer_right = sum(df['Player_Attributes']['preferred_foot'] == 'right') / df['Player_Attributes'].shape[0]
prefer_right

0.7523127765276283