# Linking and Cleaning Data

## Imports

In [271]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from datetime import datetime 
from dateutil import parser
import os
import time
import itertools
import re
import pickle
import locale

## Process Stats Data

### Load Data

In [469]:
goals_df = pickle.load(open('./data/goals_df.pkl', 'rb'))
assists_df = pickle.load(open('./data/assists_df.pkl', 'rb'))
shots_df = pickle.load(open('./data/shots_df.pkl', 'rb'))
fouls_df = pickle.load(open('./data/fouls_df.pkl', 'rb'))
gk_df = pickle.load(open('./data/goalkeeping_df.pkl', 'rb'))

### Merge Field Player Stats

In [446]:
def merge_stats(df1, df2):
    cols = list(set(df1.columns).intersection(df2.columns))
    merged_df = pd.merge(df1, df2, how='outer', left_on=cols, right_on=cols, suffixes=['', '_Dup'])
    return merged_df

In [457]:
fp_df = merge_stats(goals_df, assists_df)
fp_df = merge_stats(fp_df, shots_df)
fp_df = merge_stats(fp_df, fouls_df)

### Clean Field Player Stats

In [461]:
# Replace null values with 0
fp_df = fp_df.replace(np.nan, '0')

In [462]:
# Split PKG/A column into to and drop
fp_df[['PKG', 'PKA']] = fp_df['PKG/A'].str.split('/', expand=True)
fp_df.drop('PKG/A', axis=1, inplace=True)
fp_df = fp_df.replace('', '0')

In [570]:
first_name = []
last_name = []
for item in fp_df['Player'].str.split(' '):
    first_name.append(item[0])
    last_name.append(' '.join(item[1:]))

In [572]:
fp_df['First Name'] = first_name
fp_df['Last Name'] = last_name

#### Set Column Dtypes

In [464]:
int_cols = ['GP', 'GS', 'MINS', 'G', 'A', 'SHTS', 'SOG', 'GWG', 
            'HmG', 'RdG', 'Year', 'GWA', 'HmA', 'RdA', 'FC', 'FS', 
            'OFF', 'YC', 'RC', 'PKG', 'PKA']
for col in int_cols:
    fp_df[col] = fp_df[col].astype(int)

In [465]:
float_cols = ['G/90min', 'SC%', 'A/90min', 'SOG%']
for col in float_cols:
    fp_df[col] = fp_df[col].astype(float)

In [466]:
fp_df.rename(columns={'G/90min': 'Gp90', 
                      'SC%': 'SCpct', 
                      'A/90min': 'Ap90', 
                      'SOG%': 'SOGpct'}, inplace=True)

#### Save Clean Data

In [ ]:
fp_df.to_csv('fieldplayer.csv')

### Clean Goalkeeper Stats

In [473]:
# Replace null values with 0
gk_df = gk_df.replace(np.nan, '0')

In [474]:
# Split PKG/A column into to and drop
gk_df[['PKG', 'PKA']] = gk_df['PKG/A'].str.split('/', expand=True)
gk_df.drop('PKG/A', axis=1, inplace=True)
gk_df = gk_df.replace('', '0')

#### Set Column DTypes

In [481]:
int_cols = ['GP', 'GS', 'MINS', 'SHTS', 'SV', 'GA', 'W', 'L', 
            'T', 'ShO', 'Year', 'PKG', 'PKA']
for col in int_cols:
    gk_df[col] = gk_df[col].astype(int)

In [482]:
float_cols = ['GAA', 'W%', 'Sv%']
for col in float_cols:
    gk_df[col] = gk_df[col].astype(float)

#### Save Clean Data

In [484]:
gk_df.to_csv('goalkeeper.csv')

### Merge FP with GK Stats

In [215]:
stats_df = merge_stats(fieldplayer_df, goalkeeping_df)

In [171]:
stats_df.to_csv('stats.csv')

## Salary Data

### Load Data

In [485]:
salary_df = pickle.load(open('./data/salary_df.pkl', 'rb'))

### Clean Data

In [488]:
# Create Player column for linking
salary_df['Last Name'] = salary_df['Last Name'].str.strip()
salary_df['First Name'] = salary_df['First Name'].str.strip()
salary_df['Player'] = salary_df['First Name'] + ' ' + salary_df['Last Name']

# Rename Pos to POS for linking
salary_df.rename(columns={'Pos': 'POS'}, inplace=True)

# Create Year Column
salary_df['Year'] = salary_df.Date.map(lambda x: x.year)

In [489]:
# Convert numeric str to float
def convert_money(money_str):
    money_str = money_str.strip()
    # replace empty str with 0
    if len(money_str) == 0:
        money_str = re.sub('', '0', money_str)
    return float(re.sub('[\$,]', '', re.sub('-', '0', money_str)))

# Convert Salary Columns
salary_df['Base Salary'] = salary_df['Base Salary'].map(lambda x: convert_money(x))
salary_df['Guaranteed Compensation'] = salary_df['Guaranteed Compensation'].map(lambda x: convert_money(x))

# # Pure Pandas Implementation
# salary_df = salary_df.replace('', 0)
# salary_df = salary_df.replace('-', 0)
# salary_df['Base Salary'] = salary_df['Base Salary'].replace('[\$,]', '', regex=True).astype(float)
# salary_df['Guaranteed Compensation'] = salary_df['Guaranteed Compensation'].replace('[\$,]', '', regex=True).astype(float)

In [495]:
tmp = salary_df.groupby(['Year', 'Club', 'Player'], as_index=False).mean()
tmp

      Year Club             Player  Base Salary  Guaranteed Compensation
0     2007  CHI     Bakary Soumare     45000.00                 78000.00
1     2007  CHI      Brian Plotkin     30000.00                 30000.00
2     2007  CHI      Bruno Marques     12900.00                 12900.00
3     2007  CHI         C.J. Brown    106391.00                106391.00
4     2007  CHI         Calen Carr     38000.00                 50500.00
5     2007  CHI       Chad Barrett     41212.50                 48712.50
6     2007  CHI        Chris Armas    225000.00                225000.00
7     2007  CHI        Chris Rolfe     70000.00                 74700.00
8     2007  CHI  Cuauhtemoc Blanco   2492316.00               2666778.00
9     2007  CHI     Daniel Woolard     12900.00                 12900.00
10    2007  CHI     Dasan Robinson     42500.00                 42500.00
11    2007  CHI    Diego Gutierrez    126500.00                126500.00
12    2007  CHI       Floyd Franks     17700.00                 17700.00
13    2007  CHI    Gonzalo Segares     48300.00                 50800.00
14    2007  CHI      Ivan Guerrero    160000.00                187500.00
15    2007  CHI        Jeff Curtin     12900.00                 12900.00
16    2007  CHI    Jerson Monteiro     17700.00                 17700.00
17    2007  CHI         Jim Curtin    120750.00                120750.00
18    2007  CHI          Jon Busch     58008.00                 58008.00
19    2007  CHI  Jordan Russolillo     12900.00                 12900.00
20    2007  CHI        Justin Mapp    130000.00                136000.00
21    2007  CHI        Logan Pause     69300.00                 69300.00
22    2007  CHI       Matt Pickens     32340.00                 32340.00
23    2007  CHI     Michael Banner     12900.00                 12900.00
24    2007  CHI         Nick Noble     12900.00                 12900.00
25    2007  CHI     Osei Telesford     36000.00                 36625.00
26    2007  CHI     Paulo Wanchope    240000.00                267500.00
27    2007  CHI      Thiago Correa     44100.00                 44100.00
28    2007  CHI       Wilman Conde    144000.00                151500.00
29    2007  CHV       Alex Zotinca     67500.00                 68750.00
...    ...  ...                ...          ...                      ...
5951  2017  VAN        Brett Levis     65000.00                 67500.00
5952  2017  VAN  Christian Bolanos    250000.00                253500.00
5953  2017  VAN     Christian Dean    121000.00                202000.00
5954  2017  VAN        Cole Seiler     54075.00                 54075.00
5955  2017  VAN   Cristian Techera    352000.00                377000.00
5956  2017  VAN        David Edgar    175000.00                183833.33
5957  2017  VAN       David Ousted    360000.00                378933.33
5958  2017  VAN       Deybi Flores     59500.02                 62442.52
5959  2017  VAN       Erik Hurtado    125000.00                131250.00
5960  2017  VAN      Fredy Montero   1400000.04               1800000.04
5961  2017  VAN     Jake Nerwinski     65004.00                 65004.00
5962  2017  VAN      Jordan Harvey    180000.00                180000.00
5963  2017  VAN     Kendall Waston    350000.00                368125.00
5964  2017  VAN       Kianz Froese     69300.00                 73800.00
5965  2017  VAN         Kyle Greig     65004.00                 66849.00
5966  2017  VAN     Marcel de Jong    140000.00                140000.00
5967  2017  VAN       Marco Bustos     65625.00                 70475.00
5968  2017  VAN        Matias Laba    725000.00                885500.00
5969  2017  VAN      Mauro Rosales     65004.00                 65004.00
5970  2017  VAN   Nicolas Mezquida    120000.00                120000.00
5971  2017  VAN       Nosa Igiebor     65000.04                 98333.37
5972  2017  VAN     Paolo Tornaghi     80000.00                 80000.00
5973  2017  VAN    Russell Teibert    126500.00                194000.00
5974  2017  VAN    Samuel Adekugbe     80000.00                 85000.00
5975  2017  VAN   Sheanon Williams    175000.00                184000.00
5976  2017  VAN     Spencer Richey     65004.00                 65004.00
5977  2017  VAN   Stefan Marinovic     65000.04                 77562.54
5978  2017  VAN         Tim Parker     80850.00                 99600.00
5979  2017  VAN        Tony Tchani    275000.00                308333.33
5980  2017  VAN        Yordy Reyna    440000.04                533700.04

[5981 rows x 5 columns]

In [497]:
test = pd.merge(salary_df, tmp, on=['Year', 'Club', 'Player'], how='inner', suffixes=['', '_Avg'])

In [502]:
def subset_latest(salary_df):
    new_df = pd.DataFrame()
    for year in np.unique(salary_df['Year']):
        max_date = max(salary_df[salary_df['Year'] == year]['Date'])
        subset_df = salary_df[salary_df['Date'] == max_date]
        new_df = pd.concat([new_df, subset_df], axis=0, ignore_index=True)
    return new_df

In [503]:
salary_df = subset_latest(salary_df)

### Split Salary Data into Field Players and Goalkeepers

In [521]:
gk_idx = salary_df['POS'] == 'GK'

fp_salary_df = salary_df[~gk_idx]
gk_salary_df = salary_df[gk_idx]

### Merge Field Player Stats and Salary Data

In [531]:
fp_combo_df = pd.merge(fp_df, fp_salary_df, how='outer', 
                       left_on=['Year', 'Player'], 
                       right_on=['Year', 'Player'], 
                       suffixes=['', '_Dup'])

In [532]:
fp_combo_df[fp_combo_df.isnull().any(axis=1)]

,Player,Club,POS,GP,GS,MINS,G,A,SHTS,SOG,...,RC,PKG,PKA,Club_Dup,Last Name,First Name,POS_Dup,Base Salary,Guaranteed Compensation,Date
6,Christian Gomez,DC,M,27.0,27.0,2272.0,10.0,9.0,82.0,44.0,...,0.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Jozy Altidore,TOR,F,22.0,15.0,1399.0,9.0,4.0,43.0,20.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Robbie Findley,LA,F,25.0,14.0,1353.0,8.0,0.0,31.0,16.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Fred,DC,M,26.0,23.0,2096.0,7.0,8.0,28.0,14.0,...,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Dwayne De Rosario,HOU,M,24.0,22.0,1973.0,6.0,4.0,62.0,24.0,...,0.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Danny Dichio,TOR,F,17.0,14.0,1175.0,6.0,1.0,20.0,13.0,...,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Jeff Cunningham,RSL,F,23.0,20.0,1636.0,6.0,1.0,32.0,21.0,...,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Juan Toja,DAL,M,27.0,27.0,2388.0,6.0,1.0,33.0,16.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Hérculez Gómez,COL,F,20.0,16.0,1537.0,4.0,2.0,51.0,22.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Roberto Brown,COL,F,13.0,8.0,696.0,3.0,0.0,14.0,4.0,...,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Dave van den Bergh,NY,M,29.0,26.0,2228.0,2.0,8.0,36.0,19.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Jose Burciaga Jr.,KC,D,23.0,23.0,1826.0,2.0,4.0,26.0,12.0,...,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,Fabian Espindola,RSL,F,12.0,8.0,602.0,2.0,2.0,13.0,9.0,...,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,Andy Welsh,TOR,M,20.0,16.0,1335.0,1.0,3.0,14.0,10.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,Freddy Adu,RSL,F,11.0,10.0,899.0,1.0,2.0,24.0,12.0,...,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,Willian Oliveira,CHI,M,8.0,4.0,381.0,1.0,1.0,7.0,4.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,Sal Caccavale,NY,M,1.0,0.0,2.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,John Thorrington,CHI,M,2.0,0.0,31.0,1.0,0.0,2.0,2.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,Matt Taylor,CHV,F,11.0,0.0,156.0,1.0,0.0,5.0,5.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,Miguel Canizalez,TOR,D,12.0,3.0,413.0,1.0,0.0,5.0,1.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,Denilson,DAL,M,8.0,7.0,606.0,1.0,0.0,14.0,4.0,...,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,Bobby Boswell,DC,D,23.0,22.0,1963.0,0.0,2.0,7.0,2.0,...,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,Guy-Roland Kpene,DC,F,15.0,8.0,626.0,0.0,2.0,18.0,12.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,Taylor Graham,NY,D,5.0,3.0,335.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,Kasali Yinka Casal,DC,M,4.0,0.0,104.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,Mike Randolph,LA,D,19.0,15.0,1451.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,Rodrigo López,CHV,M,5.0,0.0,62.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,Ricardinho,DAL,F,8.0,3.0,279.0,0.0,1.0,5.0,2.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,Thiago,CHI,M,13.0,5.0,568.0,0.0,1.0,10.0,3.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,Yherland McDonald,COL,M,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5983,Rodrigo Pacheco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,LAFC,Pacheco,Rodrigo,F,99999.96,99999.96,2017-09-15
5984,Artur De Lima Junior,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,CLB,De Lima Junior,Artur,M,80004.00,99879.00,2017-09-15
5985,Zeiko Lewis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NYRB,Lewis,Zeiko,M,75000.00,93750.00,2017-09-15
5986,Victor Giro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,ORL,Giro,Victor,D-M,80004.00,85316.50,2017-09-15
5987,Samuel Adekugbe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,VAN,Adekugbe,Samuel,D,80000.00,85000.00,2017-09-15
5988,Rafael Garcia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,LA,Garcia,Rafael,M,82500.00,82500.00,2017-09-15
5989,Michael Murillo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NYRB,Murillo,Michael,D,65004.00,73754.00,2017-09-15
5990,Alhassan Lalas Abubakar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,CLB,Abubakar,Alhassan Lalas,D,65000.04,72500.04,2017-09-15
5991,Nikolaj Hansen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,CLB,Hansen,Nikolaj,F,65000.04,72500.04,2017-09-15
5992,Nick Depuy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,MTL,Depuy,Nick,F,65000.04,72500.04,2017-09-15
5993,Bradford Jamieson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,LA,Jamieson,Bradford,F,66150.00,66150.00,2017-09-15
5994,David Romney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,LA,Romney,David,D,66150.00,66150.00,2017-09-15
5995,Rodrigo Saravia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,CLB,Saravia,Rodrigo,M,65625.00,65625.00,2017-09-15
5996,Cody Cropper,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NE,Cropper,Cody,F,65625.00,65625.00,2017-09-15
5997,Anatole Abang,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NYRB,Abang,Anatole,F,65625.00,65625.00,2017-09-15
5998,Mike Da Fonte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,COL,Da Fonte,Mike,D,65004.00,65004.00,2017-09-15
5999,Carlos Alvarez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,LAFC,Alvarez,Carlos,M,65004.00,65004.00,2017-09-15
6000,Romario Williams,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,ATL,Williams,Romario,F,65000.00,65000.00,2017-09-15
6001,Joshua Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NE,Smith,Joshua,D,65000.00,65000.00,2017-09-15
6002,Richard Sanchez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,CHI,Sanchez,Richard,M,64999.92,64999.92,2017-09-15
6003,Anthony Fontana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,PHI,Fontana,Anthony,M,53004.00,61421.60,2017-09-15
6004,Derrick Etienne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NYRB,Etienne,Derrick,M,53000.00,58000.00,2017-09-15
6005,Louis Beland Goyette,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,MTL,Beland Goyette,Louis,M,53000.00,54250.00,2017-09-15
6006,Joseph Holland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,HOU,Holland,Joseph,M,53004.00,53004.00,2017-09-15
6007,Monday Bassey Etim,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,LAFC,Etim,Monday Bassey,M,53004.00,53004.00,2017-09-15
6008,Thomas De Villardi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,MNUFC,De Villardi,Thomas,D,53004.00,53004.00,2017-09-15
6009,Hassan N'dam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NYRB,N'dam,Hassan,D,53004.00,53004.00,2017-09-15
6010,Devron Garcia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,ORL,Garcia,Devron,M-F,53004.00,53004.00,2017-09-15
6011,Deybi Flores,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,VAN,Flores,Deybi,M,53000.04,53000.04,2017-09-15
6012,Jeffrey Oblitey Otoo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,ATL,Oblitey Otoo,Jeffrey,M-F,53000.00,53000.00,2017-09-15

In [533]:
fp_combo_df.to_csv('fp_combo2.csv')

In [504]:
guzan_stats = gk_df[gk_df.Player == 'Brad Guzan']
guzan_stats

,Player,Club,POS,GP,GS,MINS,SHTS,SV,GA,GAA,W,L,T,ShO,W%,Sv%,Year,Season,PKG,PKA
8,Brad Guzan,ATL,GK,27,27,2430,119,87,25,0.93,14,6,7,13,51.9,73.1,2007,REG,2,3
57,Brad Guzan,ATL,GK,15,15,1350,71,48,20,1.33,6,5,4,4,40.0,67.6,2008,REG,1,1
593,Brad Guzan,ATL,GK,14,14,1260,47,38,10,0.71,6,1,7,8,42.9,80.9,2017,REG,1,1

In [505]:
guzan_money = salary_df[salary_df.Player == 'Brad Guzan']
guzan_money

,Club,Last Name,First Name,POS,Base Salary,Guaranteed Compensation,Date,Player,Year
216,CHV,Guzan,Brad,GK,52237.5,67237.50,2007-08-31,Brad Guzan,2007
656,CHV,Guzan,Brad,GK,88974.0,103974.38,2008-10-07,Brad Guzan,2008
5083,ATL,Guzan,Brad,GK,340008.0,400008.00,2017-09-15,Brad Guzan,2017

In [508]:
pd.merge(guzan_stats, guzan_money, how='outer', 
         left_on=['Year', 'Club', 'Player'], 
         right_on=['Year', 'Club', 'Player'], 
         suffixes=['', '_Dup'])

,Player,Club,POS,GP,GS,MINS,SHTS,SV,GA,GAA,...,Year,Season,PKG,PKA,Last Name,First Name,POS_Dup,Base Salary,Guaranteed Compensation,Date
0,Brad Guzan,ATL,GK,27.0,27.0,2430.0,119.0,87.0,25.0,0.93,...,2007,REG,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Brad Guzan,ATL,GK,15.0,15.0,1350.0,71.0,48.0,20.0,1.33,...,2008,REG,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Brad Guzan,ATL,GK,14.0,14.0,1260.0,47.0,38.0,10.0,0.71,...,2017,REG,1.0,1.0,Guzan,Brad,GK,340008.0,400008.00,2017-09-15
3,Brad Guzan,CHV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2007,NaN,NaN,NaN,Guzan,Brad,GK,52237.5,67237.50,2007-08-31
4,Brad Guzan,CHV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2008,NaN,NaN,NaN,Guzan,Brad,GK,88974.0,103974.38,2008-10-07

In [509]:
cols = ['Year', 'Player']
df = pd.merge(merged_df, salary_df, how='outer', left_on=cols, right_on=cols, suffixes=['', '_Dup'])

In [511]:
gk_df.groupby(['Year', 'Club', 'Player']).last()

                           POS  GP  GS  MINS  SHTS   SV  GA   GAA   W   L   T  \
Year Club Player
2007 ATL  Brad Guzan        GK  27  27  2430   119   87  25  0.93  14   6   7
     CHI  Jon Busch         GK   3   3   270    20   15   5  1.67   1   2   0
          Matt Pickens      GK  27  27  2430   137  102  31  1.15   9   8  10
          Nick Noble        GK   0   0     0     0    0   0  0.00   0   0   0
     CHV  Justin Myers      GK   0   0     0     0    0   0  0.00   0   0   0
          Preston Burpo     GK   3   3   270    16   13   3  1.00   1   1   1
     CLB  Andy Gruenebaum   GK  10  10   900    53   35  15  1.50   1   4   5
          Bill Gaudette     GK   0   0     0     0    0   0  0.00   0   0   0
          William Hesmer    GK  20  20  1800    99   71  29  1.45   8   7   5
     COL  Bouna Coundoul    GK  30  30  2668   158  120  32  1.07   9  12   8
          Justin Hughes     GK   0   0     0     0    0   0  0.00   0   0   0
          Zach Thornton     GK   1   0    32     3    1   2  2.00   0   1   0
     DAL  Boris Pardo       GK   0   0     0     0    0   0  0.00   0   0   0
          Dario Sala        GK  18  18  1620    97   64  29  1.61   8   7   3
          Ray Burse         GK   6   6   540    29   23   6  1.00   3   2   1
          Shaka Hislop      GK   6   6   540    32   23   9  1.50   2   3   1
     DC   Jay Nolly         GK   1   1    90     9    7   2  2.00   0   1   0
          Shawn Crowe       GK   0   0     0     0    0   0  0.00   0   0   0
          Troy Perkins      GK  29  29  2610   155  117  32  1.10  16   6   7
     HOU  Chris Seitz       GK   3   3   270    14    6   8  2.67   0   2   1
          Jordan James      GK   0   0     0     0    0   0  0.00   0   0   0
          Pat Onstad        GK  27  27  2418   109   85  22  0.81  13   8   6
          Zach Wells        GK   4   3   282     9    8   1  0.33   2   0   1
     KC   Chris Konopka     GK   0   0     0     0    0   0  0.00   0   0   0
          Eric Kronberg     GK   0   0     0     0    0   0  0.00   0   0   0
          Kevin Hartman     GK  30  30  2700   159  110  45  1.50  11  12   7
     LA   Joe Cannon        GK  29  29  2610   171  119  46  1.59   9  13   7
          Lance Friesz      GK   0   0     0     0    0   0  0.00   0   0   0
          Steve Cronin      GK   1   1    90     8    6   2  2.00   0   1   0
     NE   Brad Knighton     GK   0   0     0     0    0   0  0.00   0   0   0
...                         ..  ..  ..   ...   ...  ...  ..   ...  ..  ..  ..
2017 NYC  Eirik Johansen    GK   2   2   180     7    3   4  2.00   1   1   0
          Sean Johnson      GK  32  32  2880   137   96  39  1.22  15   8   9
     NYR  Evan Louro        GK   0   0     0     0    0   0  0.00   0   0   0
     OCS  Earl Edwards Jr.  GK   1   1    90     7    1   6  6.00   0   1   0
          Joe Bendik        GK  33  33  2970   173  118  52  1.58  10  14   9
          Mason Stajduhar   GK   0   0     0     0    0   0  0.00   0   0   0
     ORL  Josh Saunders     GK   0   0     0     0    0   0  0.00   0   0   0
     PHI  Andre Blake       GK  26  26  2340   125   88  34  1.31   9  10   7
          John McCarthy     GK   8   8   720    49   34  13  1.63   2   4   2
     POR  Jake Gleeson      GK  21  21  1818    83   52  30  1.43   8   6   6
          Jeff Attinella    GK  14  13  1242    64   45  20  1.54   7   5   2
          Kendall McIntosh  GK   0   0     0     0    0   0  0.00   0   0   0
     RSL  Connor Sparrow    GK   0   0     0     0    0   0  0.00   0   0   0
          Lalo Fernandez    GK   0   0     0     0    0   0  0.00   0   0   0
          Matt Van Oekel    GK   7   6   572    47   25  22  3.67   0   5   1
          Nick Rimando      GK  28  28  2488   110   73  33  1.18  13  10   5
     SEA  Bryan Meredith    GK   0   0     0     0    0   0  0.00   0   0   0
          Stefan Frei       GK  33  33  2970   121   84  36  1.09  13   9  11
     SJ   Andrew Tarbell    GK  11  11   990    65   40  25  2.27   4   5   2
          Matt Bersano      GK   0   0     0     0    0   0  0.00   0   0   0
     SKC  Adrian Zendejas   GK   0   0     0     0    0   0  0.00   0   0   0
          Andrew Dykstra    GK   4   3   301    14   10   5  1.67   0   2   2
          Tim Melia         GK  31  31  2759   116   91  24  0.77  12   7  11
     TOR  Alex Bono         GK  29  28  2570   104   72  32  1.14  19   4   6
          Clint Irwin       GK   6   6   490    18   13   5  0.83   1   1   3
          Mark Pais         GK   0   0     0     0    0   0  0.00   0   0   0
     VAN  Brian Rowe        GK  14  12  1157    60   35  23  1.92   3   6   4
          Paolo Tornaghi    GK   1   0    65     7    4   3  3.00   0   1   0
          Spencer Richey    GK   1   1    90     3    1   2  2.00   0   1   0
          Stefan Marinovic  GK   5   5   450    27   21   5  1.00   2   2   1

                            ShO    W%   Sv% Season  PKG  PKA
Year Club Player
2007 ATL  Brad Guzan         13  51.9  73.1    REG    2    3
     CHI  Jon Busch           1  33.3  75.0    REG    2    2
          Matt Pickens       10  33.3  74.5    REG    4    4
          Nick Noble          0   0.0   0.0    REG    0    0
     CHV  Justin Myers        0   0.0   0.0    REG    0    0
          Preston Burpo       1  33.3  81.3    REG    0    0
     CLB  Andy Gruenebaum     3  10.0  66.0    REG    0    0
          Bill Gaudette       0   0.0   0.0    REG    0    0
          William Hesmer      5  40.0  71.7    REG    2    3
     COL  Bouna Coundoul      9  30.0  75.9    REG    2    2
          Justin Hughes       0   0.0   0.0    REG    0    0
          Zach Thornton       0   0.0  33.3    REG    0    0
     DAL  Boris Pardo         0   0.0   0.0    REG    0    0
          Dario Sala          5  44.4  66.0    REG    2    2
          Ray Burse           2  50.0  79.3    REG    1    1
          Shaka Hislop        0  33.3  71.9    REG    0    0
     DC   Jay Nolly           0   0.0  77.8    REG    0    0
          Shawn Crowe         0   0.0   0.0    REG    0    0
          Troy Perkins        8  55.2  75.5    REG    1    3
     HOU  Chris Seitz         0   0.0  42.9    REG    0    0
          Jordan James        0   0.0   0.0    REG    0    0
          Pat Onstad         11  48.1  78.0    REG    1    2
          Zach Wells          2  50.0  88.9    REG    1    1
     KC   Chris Konopka       0   0.0   0.0    REG    0    0
          Eric Kronberg       0   0.0   0.0    REG    0    0
          Kevin Hartman       5  36.7  69.2    REG    6    7
     LA   Joe Cannon          5  31.0  69.6    REG    4    5
          Lance Friesz        0   0.0   0.0    REG    0    0
          Steve Cronin        0   0.0  75.0    REG    0    0
     NE   Brad Knighton       0   0.0   0.0    REG    0    0
...                         ...   ...   ...    ...  ...  ...
2017 NYC  Eirik Johansen      0  50.0  42.9    REG    0    0
          Sean Johnson        7  46.9  70.1    REG    3    4
     NYR  Evan Louro          0   0.0   0.0    REG    0    0
     OCS  Earl Edwards Jr.    0   0.0  14.3    REG    0    0
          Joe Bendik          7  30.3  68.2    REG    4    5
          Mason Stajduhar     0   0.0   0.0    REG    0    0
     ORL  Josh Saunders       0   0.0   0.0    REG    0    0
     PHI  Andre Blake         9  34.6  70.4    REG    4    5
          John McCarthy       1  25.0  69.4    REG    2    2
     POR  Jake Gleeson        3  38.1  62.7    REG    3    3
          Jeff Attinella      4  50.0  70.3    REG    0    1
          Kendall McIntosh    0   0.0   0.0    REG    0    0
     RSL  Connor Sparrow      0   0.0   0.0    REG    0    0
          Lalo Fernandez      0   0.0   0.0    REG    0    0
          Matt Van Oekel      1   0.0  53.2    REG    1    1
          Nick Rimando        8  46.4  66.4    REG    1    3
     SEA  Bryan Meredith      0   0.0   0.0    REG    0    0
          Stefan Frei        13  39.4  69.4    REG    5    6
     SJ   Andrew Tarbell      2  36.4  61.5    REG    0    1
          Matt Bersano        0   0.0   0.0    REG    0    0
     SKC  Adrian Zendejas     0   0.0   0.0    REG    0    0
          Andrew Dykstra      1   0.0  71.4    REG    0    0
          Tim Melia          10  38.7  78.4    REG    2    5
     TOR  Alex Bono          10  65.5  69.2    REG    3    5
          Clint Irwin         2  16.7  72.2    REG    0    1
          Mark Pais           0   0.0   0.0    REG    0    0
     VAN  Brian Rowe          2  21.4  58.3    REG    2    2
          Paolo Tornaghi      0   0.0  57.1    REG    0    0
          Spencer Richey      0   0.0  33.3    REG    0    0
          Stefan Marinovic    1  40.0  77.8    REG    0    1

[644 rows x 17 columns]

In [246]:
df.to_csv('field_player.csv')

#### Fix Player Name Association

In [249]:
import fuzzywuzzy as fwuzz

In [251]:
fwuzz.fuzz.ratio('Testing FuzzyWuzzy', 'Testing FuzzyWuzzy')

100

In [257]:
str1 = 'Fred da Silva Carreiro'
str2 = 'Fred Carreiro da Silva'
str3 = 'Fred Carreiro'
str4 = 'Fred'

In [261]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6638 entries, 0 to 6637
Data columns (total 35 columns):
Player                     6638 non-null object
Club                       5312 non-null object
POS                        5316 non-null object
GP                         5312 non-null object
GS                         5312 non-null object
MINS                       5312 non-null object
G                          5312 non-null object
A                          5312 non-null object
SHTS                       5312 non-null object
SOG                        5312 non-null object
GWG                        5312 non-null object
PKG/A                      5316 non-null object
HmG                        5312 non-null object
RdG                        5312 non-null object
G/90min                    5316 non-null object
SC%                        5316 non-null object
Year                       6638 non-null int64
Season                     5316 non-null object
GWA                        5312 non-null object
HmA                        5312 non-null object
RdA                        5312 non-null object
A/90min                    5316 non-null object
SOG%                       5316 non-null object
FC                         5312 non-null object
FS                         5312 non-null object
OFF                        5312 non-null object
YC                         5312 non-null object
RC                         5312 non-null object
Club_Dup                   5623 non-null object
Last Name                  5623 non-null object
First Name                 5623 non-null object
POS_Dup                    5623 non-null object
Base Salary                5623 non-null object
Guaranteed Compensation    5623 non-null object
Date                       5623 non-null object
dtypes: int64(1), object(34)
memory usage: 1.8+ MB

In [258]:
print(fwuzz.fuzz.ratio(str1, str2))
print(fwuzz.fuzz.ratio(str1, str3))
print(fwuzz.fuzz.ratio(str2, str3))

59
74
74

In [259]:
print(fwuzz.fuzz.partial_ratio(str1, str2))
print(fwuzz.fuzz.partial_ratio(str1, str3))
print(fwuzz.fuzz.partial_ratio(str2, str3))

59
69
100

In [260]:
print(fwuzz.fuzz.token_set_ratio(str1, str2))
print(fwuzz.fuzz.token_set_ratio(str1, str3))
print(fwuzz.fuzz.token_set_ratio(str2, str3))

100
100
100