## Linking Stat Data

### Imports

In [271]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from datetime import datetime 
from dateutil import parser
import os
import time
import itertools
import re
import pickle
import locale

### Stats Data

In [445]:
goals_df = pickle.load(open('./data/goals_df.pkl', 'rb'))
assists_df = pickle.load(open('./data/assists_df.pkl', 'rb'))
shots_df = pickle.load(open('./data/shots_df.pkl', 'rb'))
fouls_df = pickle.load(open('./data/fouls_df.pkl', 'rb'))
goalkeeping_df = pickle.load(open('./data/goalkeeping_df.pkl', 'rb'))

#### Merge Field Player Stats

In [446]:
def merge_stats(df1, df2):
    cols = list(set(df1.columns).intersection(df2.columns))
    merged_df = pd.merge(df1, df2, how='outer', left_on=cols, right_on=cols, suffixes=['', '_Dup'])
    return merged_df

In [457]:
fp_df = merge_stats(goals_df, assists_df)
fp_df = merge_stats(fp_df, shots_df)
fp_df = merge_stats(fp_df, fouls_df)

#### Clean Field Player Stats

In [461]:
# Replace null values with 0
fp_df = fp_df.replace(np.nan, '0')

In [462]:
# Split PKG/A column into to and drop
fp_df[['PKG', 'PKA']] = fp_df['PKG/A'].str.split('/', expand=True)
fp_df.drop('PKG/A', axis=1, inplace=True)
fp_df = fp_df.replace('', '0')

##### Set Column Dtypes

In [464]:
int_cols = ['GP', 'GS', 'MINS', 'G', 'A', 'SHTS', 'SOG', 'GWG', 
            'HmG', 'RdG', 'Year', 'GWA', 'HmA', 'RdA', 'FC', 'FS', 
            'OFF', 'YC', 'RC', 'PKG', 'PKA']
for col in int_cols:
    fp_df[col] = fp_df[col].astype(int)

In [465]:
float_cols = ['G/90min', 'SC%', 'A/90min', 'SOG%']
for col in float_cols:
    fp_df[col] = fp_df[col].astype(float)

In [466]:
fp_df.rename(columns={'G/90min': 'Gp90', 
                      'SC%': 'SCpct', 
                      'A/90min': 'Ap90', 
                      'SOG%': 'SOGpct'}, inplace=True)

In [ ]:
fieldplayer_df.to_csv('fieldplayer.csv')

#### Merge Field Player Stats with Goalkeeping Stats

In [215]:
stats_df = merge_stats(fieldplayer_df, goalkeeping_df)

In [171]:
stats_df.to_csv('stats.csv')

### Salary Data

In [375]:
salary_df = pickle.load(open('./data/salary_df.pkl', 'rb'))

#### Clean Salary Dataframe

In [376]:
# Create Player column for linking
salary_df['Last Name'] = salary_df['Last Name'].str.strip()
salary_df['First Name'] = salary_df['First Name'].str.strip()
salary_df['Player'] = salary_df['First Name'] + ' ' + salary_df['Last Name']

# Rename Pos to POS for linking
salary_df.rename(columns={'Pos': 'POS'}, inplace=True)

# Create Year Column
salary_df['Year'] = salary_df.Date.map(lambda x: x.year)

In [377]:
# Convert numeric str to float
def convert_money(money_str):
    money_str = money_str.strip()
    # replace empty str with 0
    if len(money_str) == 0:
        money_str = re.sub('', '0', money_str)
    return float(re.sub('[\$,]', '', re.sub('-', '0', money_str)))

In [378]:
# Convert Salary Columns
salary_df['Base Salary'] = salary_df['Base Salary'].map(lambda x: convert_money(x))
salary_df['Guaranteed Compensation'] = salary_df['Guaranteed Compensation'].map(lambda x: convert_money(x))

In [374]:
# salary_df = salary_df.replace('', 0)
# salary_df = salary_df.replace('-', 0)
# salary_df['Base Salary'] = salary_df['Base Salary'].replace('[\$,]', '', regex=True).astype(float)
# salary_df['Guaranteed Compensation'] = salary_df['Guaranteed Compensation'].replace('[\$,]', '', regex=True).astype(float)

In [393]:
def subset_latest(salary_df):
    new_df = pd.DataFrame()
    for year in np.unique(salary_df['Year']):
        max_date = max(salary_df[salary_df['Year'] == year]['Date'])
        subset_df = salary_df[salary_df['Date'] == max_date]
        new_df = pd.concat([new_df, subset_df], axis=0, ignore_index=True)
    return new_df

In [394]:
salary_df = subset_latest(salary_df)

### Merge Stats with Salary Data

In [395]:
cols = ['Year', 'Player']
df = pd.merge(merged_df, salary_df, how='outer', left_on=cols, right_on=cols, suffixes=['', '_Dup'])

In [396]:
df

,Player,Club,POS,GP,GS,MINS,G,A,SHTS,SOG,...,OFF,YC,RC,Club_Dup,Last Name,First Name,POS_Dup,Base Salary,Guaranteed Compensation,Date
0,Luciano Emilio,DC,F,29,28,2410,20,1,79,47,...,21,2,0,DC,Emilio,Luciano,F,265000.00,293125.00,2007-08-31
1,Juan Pablo Angel,NY,F,24,24,2125,19,5,97,53,...,42,2,1,NY,Angel,Juan Pablo,F,1500000.00,1593750.00,2007-08-31
2,Taylor Twellman,NE,F,26,25,2283,16,3,90,55,...,21,2,0,NE,Twellman,Taylor,F,325008.00,350008.00,2007-08-31
3,Eddie Johnson,KC,F,24,24,2149,15,6,75,43,...,50,6,0,KC,Johnson,Eddie,F,750000.00,875000.00,2007-08-31
4,Maykel Galindo,CHV,F,28,24,2021,12,5,55,28,...,30,6,0,CHV,Galindo,Maykel,F,72500.00,72500.00,2007-08-31
5,Ante Razov,CHV,F,26,24,2041,11,8,85,42,...,30,2,0,CHV,Razov,Ante,F,245000.00,248750.00,2007-08-31
6,Christian Gomez,DC,M,27,27,2272,10,9,82,44,...,10,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Jozy Altidore,TOR,F,22,15,1399,9,4,43,20,...,12,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Landon Donovan,LA,M-F,25,24,2191,8,13,44,20,...,11,3,0,LA,Donovan,Landon,F,900000.00,900000.00,2007-08-31
9,Robbie Findley,LA,F,25,14,1353,8,0,31,16,...,14,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Fred,DC,M,26,23,2096,7,8,28,14,...,21,5,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Ben Olsen,DC,M,24,21,1881,7,7,29,17,...,11,8,0,DC,Olsen,Ben,M,155000.00,177500.00,2007-08-31
12,Alejandro Moreno,CLB,F,29,27,2357,7,7,54,32,...,32,3,0,CLB,Moreno,Alejandro,F,120000.00,125000.00,2007-08-31
13,Jaime Moreno,DC,F,21,15,1439,7,6,34,18,...,15,3,0,DC,Moreno,Jaime,F,250000.00,275000.00,2007-08-31
14,Joseph Ngwenya,CLB,F,30,30,2362,7,4,40,23,...,55,4,0,HOU,Ngwenya,Joseph,F,51148.13,62023.13,2007-08-31
15,Pat Noonan,NE,F,27,21,1736,7,4,42,24,...,32,2,0,NE,Noonan,Pat,F,225000.00,227500.00,2007-08-31
16,Scott Sealy,KC,F,18,15,1193,7,2,33,20,...,23,1,0,KC,Sealy,Scott,F,33075.00,33075.00,2007-08-31
17,Brian Ching,HOU,F,20,17,1590,7,2,48,18,...,15,1,0,HOU,Ching,Brian,F,220000.00,220000.00,2007-08-31
18,Andy Dorman,NE,M,30,27,2269,7,2,48,27,...,4,5,0,NE,Dorman,Andy,M,30870.00,30870.00,2007-08-31
19,Nate Jaqua,HOU,F,25,19,1772,7,2,49,19,...,8,6,0,HOU,Jaqua,Nate,F,112500.00,119525.00,2007-08-31
20,Chad Barrett,CHI,F,30,25,1983,7,2,59,37,...,37,3,0,CHI,Barrett,Chad,F,41212.50,48712.50,2007-08-31
21,Carlos Ruiz,DAL,F,22,19,1721,7,2,59,25,...,23,9,1,DAL,Ruiz,Carlos,F,325000.00,435000.00,2007-08-31
22,Dwayne De Rosario,HOU,M,24,22,1973,6,4,62,24,...,19,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Chris Rolfe,CHI,F,19,18,1451,6,3,38,19,...,4,1,0,CHI,Rolfe,Chris,F,70000.00,74700.00,2007-08-31
24,Clint Mathis,NY,M,26,19,1722,6,2,47,22,...,5,2,2,NY,Mathis,Clint,M-F,270000.00,410000.00,2007-08-31
25,Danny Dichio,TOR,F,17,14,1175,6,1,20,13,...,6,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Jeff Cunningham,RSL,F,23,20,1636,6,1,32,21,...,33,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Juan Toja,DAL,M,27,27,2388,6,1,33,16,...,6,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Jovan Kirovski,COL,M-F,28,28,2161,6,1,36,14,...,16,3,0,COL,Kirovski,Jovan,F,200000.00,200000.00,2007-08-31
29,Guillermo Barros Schelotto,CLB,F,22,19,1605,5,11,39,18,...,20,5,0,CLB,Schelotto,Guillermo Barros,F,150000.00,150000.00,2007-08-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6608,Matt Bersano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,SJ,Bersano,Matt,GK,65004.00,65004.00,2017-09-15
6609,Mark Pais,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,TOR,Pais,Mark,GK,65004.00,65004.00,2017-09-15
6610,Spencer Richey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,VAN,Richey,Spencer,GK,65004.00,65004.00,2017-09-15
6611,Romario Williams,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,ATL,Williams,Romario,F,65000.00,65000.00,2017-09-15
6612,Calle Brown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,HOU,Brown,Calle,GK,65000.00,65000.00,2017-09-15
6613,Joshua Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NE,Smith,Joshua,D,65000.00,65000.00,2017-09-15
6614,Earl Edwards,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,ORL,Edwards,Earl,GK,65000.00,65000.00,2017-09-15
6615,Richard Sanchez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,CHI,Sanchez,Richard,M,64999.92,64999.92,2017-09-15
6616,Anthony Fontana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,PHI,Fontana,Anthony,M,53004.00,61421.60,2017-09-15
6617,Derrick Etienne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NYRB,Etienne,Derrick,M,53000.00,58000.00,2017-09-15
6618,Eric Klenofsky,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,DC,Klenofsky,Eric,GK,53004.00,56754.00,2017-09-15
6619,Louis Beland Goyette,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,MTL,Beland Goyette,Louis,M,53000.00,54250.00,2017-09-15
6620,Matt Turner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NE,Turner,Matt,GK,54075.00,54075.00,2017-09-15
6621,Stefan Cleveland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,CHI,Cleveland,Stefan,GK,53004.00,53004.00,2017-09-15
6622,Logan Ketterer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,CLB,Ketterer,Logan,GK,53004.00,53004.00,2017-09-15
6623,Joseph Holland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,HOU,Holland,Joseph,M,53004.00,53004.00,2017-09-15
6624,Monday Bassey Etim,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,LAFC,Etim,Monday Bassey,M,53004.00,53004.00,2017-09-15
6625,Thomas De Villardi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,MNUFC,De Villardi,Thomas,D,53004.00,53004.00,2017-09-15
6626,Alex Kapp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,MNUFC,Kapp,Alex,GK,53004.00,53004.00,2017-09-15
6627,Evan Louro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NYRB,Louro,Evan,GK,53004.00,53004.00,2017-09-15
6628,Hassan N'dam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NYRB,N'dam,Hassan,D,53004.00,53004.00,2017-09-15
6629,Devron Garcia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,ORL,Garcia,Devron,M-F,53004.00,53004.00,2017-09-15
6630,Jake McGuire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,PHI,McGuire,Jake,GK,53004.00,53004.00,2017-09-15
6631,Billy Heavner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,POOL,Heavner,Billy,GK,53004.00,53004.00,2017-09-15
6632,Connor Sparrow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,RSL,Sparrow,Connor,GK,53004.00,53004.00,2017-09-15
6633,Deybi Flores,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,VAN,Flores,Deybi,M,53000.04,53000.04,2017-09-15
6634,Jeffrey Oblitey Otoo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,ATL,Oblitey Otoo,Jeffrey,M-F,53000.00,53000.00,2017-09-15
6635,Adrian Zendejas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,KC,Zendejas,Adrian,GK,53000.00,53000.00,2017-09-15
6636,Mason Stajduhar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,ORL,Stajduhar,Mason,GK,53000.00,53000.00,2017-09-15
6637,Kendall McIntosh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,POR,McIntosh,Kendall,GK,53000.00,53000.00,2017-09-15

In [246]:
df.to_csv('field_player.csv')

#### Fix Player Name Association

In [249]:
import fuzzywuzzy as fwuzz

In [251]:
fwuzz.fuzz.ratio('Testing FuzzyWuzzy', 'Testing FuzzyWuzzy')

100

In [257]:
str1 = 'Fred da Silva Carreiro'
str2 = 'Fred Carreiro da Silva'
str3 = 'Fred Carreiro'
str4 = 'Fred'

In [261]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6638 entries, 0 to 6637
Data columns (total 35 columns):
Player                     6638 non-null object
Club                       5312 non-null object
POS                        5316 non-null object
GP                         5312 non-null object
GS                         5312 non-null object
MINS                       5312 non-null object
G                          5312 non-null object
A                          5312 non-null object
SHTS                       5312 non-null object
SOG                        5312 non-null object
GWG                        5312 non-null object
PKG/A                      5316 non-null object
HmG                        5312 non-null object
RdG                        5312 non-null object
G/90min                    5316 non-null object
SC%                        5316 non-null object
Year                       6638 non-null int64
Season                     5316 non-null object
GWA                        5312 non-null object
HmA                        5312 non-null object
RdA                        5312 non-null object
A/90min                    5316 non-null object
SOG%                       5316 non-null object
FC                         5312 non-null object
FS                         5312 non-null object
OFF                        5312 non-null object
YC                         5312 non-null object
RC                         5312 non-null object
Club_Dup                   5623 non-null object
Last Name                  5623 non-null object
First Name                 5623 non-null object
POS_Dup                    5623 non-null object
Base Salary                5623 non-null object
Guaranteed Compensation    5623 non-null object
Date                       5623 non-null object
dtypes: int64(1), object(34)
memory usage: 1.8+ MB

In [258]:
print(fwuzz.fuzz.ratio(str1, str2))
print(fwuzz.fuzz.ratio(str1, str3))
print(fwuzz.fuzz.ratio(str2, str3))

59
74
74

In [259]:
print(fwuzz.fuzz.partial_ratio(str1, str2))
print(fwuzz.fuzz.partial_ratio(str1, str3))
print(fwuzz.fuzz.partial_ratio(str2, str3))

59
69
100

In [260]:
print(fwuzz.fuzz.token_set_ratio(str1, str2))
print(fwuzz.fuzz.token_set_ratio(str1, str3))
print(fwuzz.fuzz.token_set_ratio(str2, str3))

100
100
100