Scraping www.americansocceranalysis.com for player salaries

In [43]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [5]:
url = 'http://www.americansocceranalysis.com/september-15-2017/'
response = requests.get(url)

'http://www.americansocceranalysis.com/september-15-2017/'

In [6]:
response.status_code, response.url

(200, 'http://www.americansocceranalysis.com/september-15-2017/')

In [7]:
soup = BeautifulSoup(response.text,"lxml")

In [11]:
tmp = soup.findAll('table')

### Find Salary Table

In [37]:
# Find all tables on page
tables = soup.findAll('table')
table_headers = {}
for t_num, t in enumerate(tables):
    
    # Extract headers from all tables
    headers = t.findAll('th')
    table_header = []
    for h in headers:
        table_header.append(h.text)
        
    # Compile table headers into dictionary    
    table_headers[t_num] = (table_header)
    
    # Find salary table
    tmp_header = set(table_header)
    of_interest = ['Last Name', 'First Name']
    if bool(tmp_header.intersection(set(of_interest))) == True:
        salary_table = t

In [44]:
# Extract salary table header
salary_header = []
for h in salary_table.findAll('th'):
    salary_header.append(h.text)    
salary_df = pd.DataFrame(columns=salary_header)

In [45]:
salary_df

Empty DataFrame
Columns: [#, Club, Last Name, First Name, Pos, Base Salary, Guaranteed Compensation]
Index: []

In [67]:
# Extract salary data
salary_header = []
salary_data = []
for row in salary_table.findAll('tr'):
    row_data = []
    
    # Get row type and check if header or data row
    row_type = row.findChild().name
    if row_type == 'th':
        # Extract header
        for h in salary_table.findAll('th'):
            salary_header.append(h.text) 
    else:
        # Extract data
        for data in row.findAll('td'):
            row_data.append(data.text)
        salary_data.append(row_data)

# Compile dataframe
salary_df = pd.DataFrame(salary_data, columns=salary_header)

# Drop rank column
salary_df = salary_df.drop('#', axis=1)

In [68]:
salary_df

,Club,Last Name,First Name,Pos,Base Salary,Guaranteed Compensation
0,ORL,Kaka,,M,"$6,660,000.00","$7,167,500.00"
1,TOR,Giovinco,Sebastian,F,"$5,600,000.00","$7,115,555.67"
2,TOR,Bradley,Michael,M,"$6,000,000.00","$6,500,000.00"
3,NYCFC,Pirlo,Andrea,M,"$5,600,000.00","$5,915,690.00"
4,NYCFC,Villa,David,F,"$5,610,000.00","$5,610,000.00"
5,LA,Dos Santos,Giovani,F,"$3,750,000.00","$5,500,000.00"
6,CHI,Schweinsteiger,Bastian,M,"$5,400,000.00","$5,400,000.00"
7,TOR,Altidore,Jozy,F,"$4,875,000.00","$4,875,000.00"
8,SEA,Dempsey,Clint,F,"$3,200,000.00","$3,892,933.50"
9,POR,Valeri,Diego,M,"$2,227,500.00","$2,607,500.00"
10,COL,Howard,Tim,GK,"$2,000,000.00","$2,475,000.00"
11,ATL,Almiron,Miguel,M,"$1,912,500.00","$2,297,000.00"
12,LA,Dos Santos,Jonathan,M,"$2,000,000.04","$2,000,000.04"
13,NYCFC,Moralez,Maximiliano,M,"$2,000,000.04","$2,000,000.04"
14,LA,Alessandrini,Romain,M,"$1,669,400.64","$1,999,400.64"
15,RSL,Movsisyan,Yura,F,"$1,750,000.00","$1,973,750.00"
16,CHI,Nikolic,Nemanja,F,"$1,700,000.04","$1,906,333.37"
17,VAN,Montero,Fredy,F,"$1,400,000.04","$1,800,000.04"
18,SEA,Lodeiro,Nicolas,M,"$1,371,428.57","$1,743,428.57"
19,POR,Adi,Fanendo,F,"$1,190,004.00","$1,736,254.00"
20,COL,Gashi,Shkelzen,F,"$1,575,000.00","$1,668,750.00"
21,NYRB,Wright-Phillips,Bradley,F,"$1,500,000.00","$1,635,000.00"
22,SJ,Qazaishvili,Valeri Vako,M,"$1,325,004.00","$1,454,042.36"
23,PHI,Bedoya,Alejandro,M,"$1,131,000.00","$1,197,250.00"
24,SEA,Alonso,Osvaldo,M,"$1,100,000.04","$1,141,667.04"
25,SEA,Rodriguez,Victor,M,"$999,999.96","$1,087,499.96"
26,POR,Blanco,Sebastian,M,"$1,000,008.00","$1,075,008.00"
27,CLB,Higuain,Federico,M,"$1,050,000.00","$1,050,000.00"
28,COL,Doyle,Kevin,F,"$1,000,000.00","$1,045,000.00"
29,ATL,Martinez,Josef,F,"$924,000.00","$1,041,310.00"
...,...,...,...,...,...,...
624,ORL,Pereira,Leonardo,D,"$53,004.00","$53,004.00"
625,PHI,Elliott,Jack,D,"$53,004.00","$53,004.00"
626,PHI,Epps,Marcus,M,"$53,004.00","$53,004.00"
627,PHI,Jones,Aaron,D,"$53,004.00","$53,004.00"
628,PHI,McGuire,Jake,GK,"$53,004.00","$53,004.00"
629,POOL,Heavner,Billy,GK,"$53,004.00","$53,004.00"
630,RSL,Dunk,Reagan,D,"$53,004.00","$53,004.00"
631,RSL,Lennon,Brooks,F,"$53,004.00","$53,004.00"
632,RSL,Schmidt,Justin,D,"$53,004.00","$53,004.00"
633,RSL,Sparrow,Connor,GK,"$53,004.00","$53,004.00"
634,SEA,Adekoya,Seyi,F,"$53,004.00","$53,004.00"
635,SEA,Delem,Jordy,M,"$53,004.00","$53,004.00"
636,SEA,Mathers,Zach,M,"$53,004.00","$53,004.00"
637,SEA,Wingo,Henry,D-M,"$53,004.00","$53,004.00"
638,SJ,Mfeka,Lindo,M-F,"$53,004.00","$53,004.00"
639,TOR,Alseth,Oyvind,M-D,"$53,004.00","$53,004.00"
640,TOR,Edwards,Raheem,F,"$53,004.00","$53,004.00"
641,DAL,Cannon,Reggie,D,"$53,000.04","$53,000.04"
642,RSL,Besler,Nick,M,"$53,000.04","$53,000.04"
643,VAN,Flores,Deybi,M,"$53,000.04","$53,000.04"
644,ATL,Oblitey Otoo,Jeffrey,M-F,"$53,000.00","$53,000.00"
645,DAL,Ferreira,Jesus,F,"$53,000.00","$53,000.00"
646,KC,Pasher,Tyler,D-M,"$53,000.00","$53,000.00"
647,KC,Salloi,Daniel,F,"$53,000.00","$53,000.00"
648,KC,Zendejas,Adrian,GK,"$53,000.00","$53,000.00"
649,ORL,Stajduhar,Mason,GK,"$53,000.00","$53,000.00"
650,POR,Farfan,Marco,D,"$53,000.00","$53,000.00"
651,POR,McIntosh,Kendall,GK,"$53,000.00","$53,000.00"
652,NYCFC,Okoli,Sean,F,"$52,999.92","$52,999.92"
653,SEA,Tolo,Nouhou,D,"$52,999.92","$52,999.92"